@page
@model IndexModel

<h1>Upload a vtt file to view it</h1>


<form method="post" enctype="multipart/form-data">
    <label asp-for="VttFile"></label>
    <input asp-for="VttFile" type="file" style="height:auto" />
    <br/>
    <input type="submit" value="Upload" />
</form>