html{
    margin:0;
    padding:0;
    width:100%;
}

#vttTable {
    border-collapse: collapse;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}


.subtitleItemRow:nth-child(even) {
    background: #F0F0F0;
}

.subtitleItemRow:nth-child(odd) {
    background: #FFF;
}

.subtitleTime {
    font-family: Courier New, Courier, monospace;
    padding-right: 50px;
}
.subtitleText{

}